<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8">
    <title>Random User</title>
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
</head>
<body ng-controller="userController">

    <div class="header">Random User</div>
    <div>
        <ul class="users-list">
            <li class="user" ng-repeat="user in users track by $index">
                <img class="user__image" ng-src={{user.picture.medium}} alt="{{user.name.first}} {{user.name.last}}"/>
                <div class="user__name">{{user.name.first}} {{user.name.last}}</div>
                <div class="user__email">{{user.email}}</div>
                <div class="user__joined">Joined</div>
                <div class="user__registered">{{user.registered}}</div>
                <button ng-click="showDetails($index)">More Info</button>
                <div ng-if="showInfo && $index === userIndex" class="user__registered">{{user.phone}}</div>
            </li>
        </ul>
        <div class="load-more-wrapper">
            <div class="load-more" ng-click="moreResults()">Load more</div>
        </div>
    </div>

    <!-- Script -->
    <script src="script.js"></script>

</body>
</html>
